.grid {
	background-size: 40px 40px;
	background-image: linear-gradient(
			to right,
			rgb(0, 0, 0, 0.2) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgb(0, 0, 0, 0.2) 1px, transparent 1px);
}
.color-picker div {
	width: 200px;
	height: 20px;
	display: inline-block;
}
.color-picker > div {
	display: inlineblock;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid black;
}
.theme-dropdown .dropdown-content a {
	width: 5px !important;
	height: 5px !important;
	border: 1px solid rgb(0, 0, 0, 0.2);
}
.theme-dropdown .dropdown-content {
	left: 10px;
	top: -10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.no-grid {
	background-size: 0px 0px;
	background-image: none;
}
.grid {
	background-size: 20px 20px;

	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.1) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}
.grid-small {
	background-size: 10px 10px;
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.1) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}

.grid-large {
	background-size: 30px 30px;
	background-image: linear-gradient(
			to right,
			rgb(209, 209, 209) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgb(209, 209, 209) 1px, transparent 1px);
}

.grid-dots {
	background-size: 20px 20px;
	background-image: radial-gradient(
		circle,
		rgba(0, 0, 0, 0.4) 1px,
		transparent 1px
	);
}
.grid-dots-large {
	background-size: 40px 40px;
	background-image: radial-gradient(
		circle,
		rgba(0, 0, 0, 0.4) 1px,
		transparent 1px
	);
}

.dropbtn {
	color: #696969;
	display: flex;
	position: relative;
	border: none;
	cursor: pointer;
	font-size: 14px;
	top: -2px;
}
.note-maximized .ql-toolbar {
	margin-top: -50px;
}
.note-maximized .note-body-wrapper {
	width: 100% !important;
	height: 100% !important;
}
.note-maximized .resizer {
	display: none;
}
.note-maximized {
	width: 92%;
	height: 82%;
	padding: 0px;
	z-index: 999;
	left: 50% !important;
	transform: translate(-50%, -50%);
	top: 50% !important;
	position: fixed !important;
	margin-top: 10px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
	line-height: 0px;
	float: right;
	height: 100%;
	align-items: center;
	display: flex;
	position: relative;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	opacity: 0;
	display: flex;
	position: absolute;
	background-color: #f9f9f9;
	width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
	opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.note {
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0);
}

.note.theme-default:hover {
	border: 1px solid rgb(230, 230, 230);
}

.note:hover .note-header {
	opacity: 1;
}

.note:hover .resizer {
	opacity: 0;
}

.note-body-wrapper {
	min-width: 197px;
	min-height: 59px;
}

[contentEditable="true"]:empty:before {
	content: attr(data-text);
	font-style: italic;
	color: #979797;
}

/* THEME orange START*/

.note.theme-Default:hover {
	border: 1px solid rgb(80, 79, 78);
}

.note.theme-Default:hover .note-header {
	background: rgb(228, 227, 227);
}

.note.theme-Default {
	background: rgb(250, 250, 250);
}

/*THEME orange END*/

/* THEME RED START*/

.note.theme-red:hover {
	border: 1px solid rgb(211, 49, 49);
}

.note.theme-red:hover .note-header {
	background: rgb(211, 49, 49);
}

.note.theme-red {
	background: rgb(255, 125, 125);
}

/*THEME RED END*/

/* THEME green START*/

.note.theme-green:hover {
	border: 1px solid rgb(43, 189, 62);
}

.note.theme-green:hover .note-header {
	background: rgb(43, 189, 62);
}

.note.theme-green {
	background: rgb(103, 238, 121);
}

/*THEME green END*/

/* THEME yellow START*/

.ql-tooltip.ql-editing {
	position: fixed;
	left: 50% !important;
	transform: translateX(-50%);
	top: 50px !important;
	z-index: 9999;
}

.note-body-wrapper:focus-within .ql-toolbar.ql-snow {
	display: block;
}

.ql-toolbar.ql-snow {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
	width: 100%;
	background: white;
}

.note.theme-yellow:hover {
	border: 1px solid rgb(212, 194, 24);
}

.note.theme-yellow:hover .note-header {
	background: rgb(212, 194, 24);
}

.note.theme-yellow {
	background: rgb(255, 241, 114);
}

/*THEME yellow END*/

/* THEME orange START*/

.note.theme-orange:hover {
	border: 1px solid rgb(216, 123, 36);
}

.note.theme-orange:hover .note-header {
	background: rgb(216, 123, 36);
}

#toolbar-container {
	background: white;
	position: fixed;
	width: calc(100% - 23px);
}

.note.theme-orange {
	background: rgb(255, 186, 60);
}
/* THEME teal START*/

.note.theme-teal:hover {
	border: 1px solid rgb(0, 128, 128);
}

.note.theme-teal:hover .note-header {
	background: rgb(0, 128, 128);
}

.note.theme-teal {
	background: rgb(51, 204, 204);
}

/*THEME teal END*/

/* THEME navy START*/

.note.theme-navy:hover {
	border: 1px solid rgb(0, 0, 128);
}

.note.theme-navy:hover .note-header {
	background: rgb(0, 0, 128);
}

.note.theme-navy {
	background: rgb(51, 51, 204);
}

/*THEME navy END*/

/* THEME olive START*/

.note.theme-olive:hover {
	border: 1px solid rgb(102, 102, 0);
}

.note.theme-olive:hover .note-header {
	background: rgb(102, 102, 0);
}

.note.theme-olive {
	background: rgb(153, 153, 51);
}

/*THEME olive END*/

/* THEME maroon START*/

.note.theme-maroon:hover {
	border: 1px solid rgb(128, 0, 0);
}

.note.theme-maroon:hover .note-header {
	background: rgb(128, 0, 0);
}

.note.theme-maroon {
	background: rgb(204, 51, 51);
}

/*THEME maroon END*/

/* THEME lime START*/

.note.theme-lime:hover {
	border: 1px solid rgb(0, 255, 0);
}

.note.theme-lime:hover .note-header {
	background: rgb(0, 255, 0);
}

.note.theme-lime {
	background: rgb(51, 255, 51);
}

/*THEME lime END*/

/* THEME aqua START*/

.note.theme-aqua:hover {
	border: 1px solid rgb(0, 255, 255);
}

.note.theme-aqua:hover .note-header {
	background: rgb(0, 255, 255);
}

.note.theme-aqua {
	background: rgb(51, 255, 255);
}

/*THEME aqua END*/

/* THEME fuchsia START*/

.note.theme-fuchsia:hover {
	border: 1px solid rgb(255, 0, 255);
}

.note.theme-fuchsia:hover .note-header {
	background: rgb(255, 0, 255);
}

.note.theme-fuchsia {
	background: rgb(255, 51, 255);
}

/*THEME fuchsia END*/

/* THEME silver START*/

.note.theme-silver:hover {
	border: 1px solid rgb(192, 192, 192);
}

.note.theme-silver:hover .note-header {
	background: rgb(192, 192, 192);
}

.note.theme-silver {
	background: rgb(224, 224, 224);
}

/*THEME silver END*/

/* THEME gold START*/

.note.theme-gold:hover {
	border: 1px solid rgb(255, 215, 0);
}

.note.theme-gold:hover .note-header {
	background: rgb(255, 215, 0);
}

.note.theme-gold {
	background: rgb(255, 238, 51);
}

/*THEME orange END*/

/* THEME brown START*/

.note.theme-brown:hover {
	border: 1px solid rgb(165, 42, 42);
}

.note.theme-brown:hover .note-header {
	background: rgb(165, 42, 42);
}

.note.theme-brown {
	background: rgb(210, 105, 30);
}

/*THEME brown END*/

/* THEME fuchsia START*/

.note.theme-fuchsia:hover {
	border: 1px solid rgb(255, 0, 255);
}

.note.theme-fuchsia:hover .note-header {
	background: rgb(255, 0, 255);
}

.note.theme-fuchsia {
	background: rgb(255, 119, 255);
}

/*THEME fuchsia END*/

/* THEME aqua START*/

.note.theme-aqua:hover {
	border: 1px solid rgb(0, 255, 255);
}

.note.theme-aqua:hover .note-header {
	background: rgb(0, 255, 255);
}

.note.theme-aqua {
	background: rgb(152, 251, 255);
}

/*THEME aqua END*/

/* THEME gray START*/

.note.theme-gray:hover {
	border: 1px solid rgb(128, 128, 128);
}

.note.theme-gray:hover .note-header {
	background: rgb(128, 128, 128);
}

.note.theme-gray {
	background: rgb(192, 192, 192);
}

/*THEME gray END*/

/* THEME silver START*/

.note.theme-silver:hover {
	border: 1px solid rgb(192, 192, 192);
}

.note.theme-silver:hover .note-header {
	background: rgb(192, 192, 192);
}

.note.theme-silver {
	background: rgb(230, 230, 230);
}

/*THEME silver END*/

.resizer {
	opacity: 0;
	z-index: 9999;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
	border: 2px solid #4286f4;
	position: absolute;
}
.resizer.top-left {
	left: -5px;
	top: -5px;
	cursor: nwse-resize;
}

.resizer.bottom-right {
	right: -5px;
	bottom: -5px;
	cursor: nwse-resize;
}

.ql-container.ql-snow {
	border: none;
}

.note:hover .note-header::before {
	content: ".  .  .";
	line-height: 6px;
}

.note-body {
	/* padding: 10px; */
	height: 100%;
	overflow: auto;
	word-wrap: break-word;
}

.note-header {
	opacity: 0;
	height: 13px;
	margin-bottom: 5px;
	text-align: center;
	background: rgb(230, 230, 230);
}

body {
	height: 3000%;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7f7f7;
}

img {
	max-width: 100%;
	max-height: 100%;
}
/* Font selector styles */

.font-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 2rem 0;
}

.font-selector select {
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

.font-selector select:hover {
	background-color: #eee;
}

/*
 *  STYLE 4
 */

.ql-editor::-webkit-scrollbar-track {
	background-color: #b6b6b6;
}

.ql-editor::-webkit-scrollbar {
	width: 1px;
	height: 1px;
	background-color: #db4b4b;
}

.ql-editor::-webkit-scrollbar-thumb {
	background-color: #5d5b5b;
}

.note:hover .ql-editor::-webkit-scrollbar-track {
	background-color: #b6b6b6;
}

.note:hover .ql-editor::-webkit-scrollbar {
	width: 4px;
	height: 10px;
	background-color: #db4b4b;
}

.note:hover .ql-editor::-webkit-scrollbar-thumb {
	background-color: #5d5b5b;
}

[data-font-family] {
	font-family: var(--font-family, Arial);
}
.ql-snow {
	font-family: inherit;
}
.ql-editor {
	font-family: inherit;
}
#preferencesbtn {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background: white;
	padding: 10px;
	border-radius: 5px;
}
#preferences.open {
	display: flex;
}
#preferences label {
	font-weight: bold;
}
#preferences {
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	flex-direction: column;
	bottom: 30px;
	right: 30px;
	background: white;
	border-radius: 5px;
	display: none;
	gap: 2px;
}

.option-btn {
	width: 4px;
	height: 4px;
	position: absolute;
	right: 1px;
	top: 1px;
	border-radius: 50%;
	border: 3px solid #00000045;
}
.option-btn:hover {
	cursor: pointer;
}

body.searching {
	margin-top: 100px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 110px;
	height: fit-content;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	flex-direction: row;
}
body.searching .note {
	position: inherit;
	height: 120px;
	width: auto;
	gap: 10px;
}
body.searching .note .note-header {
	display: none;
}

body.searching .note .note-body {
	width: 100%;
}
body.searching #search-bar {
	width: 300px;
	display: block;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(230, 230, 230);
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	top: 30px;
}
#search-bar {
	display: none;
}
.notification {
	position: fixed;
	top: 0px;
	left: 10px;
	padding: 10px;
	z-index: 9999;
	border-radius: 5px;
	animation: fadeIn 0.5s;
}
.notification div {
	background: white;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}
.note-options {
	display: none;
	flex-direction: column;
	justify-content: center;
	z-index: 9999;
	font-size: 10px;
	width: 100px;
	position: absolute;
	background: rgb(250, 250, 250);
	border-left: 1px solid rgb(230, 230, 230);
	border-right: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);
}
.note-option-item:hover {
	cursor: pointer;
	background: rgb(230, 230, 230);
}
.note-option-label {
	display: flex;
	font-size: 9px;
	font-weight: bold;
	height: 25px;
	border-bottom: 1px solid rgb(230, 230, 230);
	display: flex;
	align-items: center;
}
.note-option-item {
	border-bottom: 1px solid rgb(230, 230, 230);
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
}
.note-option-item:first-child {
	border-top: 1px solid rgb(230, 230, 230);
}
.note-option-label:first-child {
	border-top: 1px solid rgb(230, 230, 230);
}
.note-options .theme {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	cursor: pointer;
}
.note-options .theme div {
	width: 33.33%;
	height: 30px;
	color: #ffffff00;
	margin: 0px !important;
	padding: 0px !important;
}
.note-options .theme div:hover {
	transform: scale(1.1);
}
